/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /*header start*/
  .custom_dropdown {
    top: 0px !important;
    left: 60px !important;
  }
  /*header end*/
  /*slider start*/
  .slider_body {
    margin: 80px 0;
  }
  .slider_title {
    font-size: 34px;
  }
  .slider_text {
    font-size: 15px;
  }
  .slider_btn {
    padding: 6px 10px;
  }
  /*slider end*/
  /*about us section start*/
  .about_us {
    text-align: center;
  }
  .about_us_img {
    width: 415px;
  }
  .aboutus_text {
    margin-top: 40px;
  }
  .about_us_btn {
    margin-top: 15px;
  }
  /*about us section end*/
  /*pricing section start*/
  .price_title {
    width: 32%;
  }
  /*pricing section end*/
  /*work member slider start*/
  .member_bio {
    text-align: center;
  }
  .pin_icon {
    left: 190px;
  }
  .member_img {
    width: 50% !important;
    padding-bottom: 10px;
  }
  .wbp, .wbn {
    padding: 10px 0;
    top: 0;
}
  .wbp span, .wbn span {
    transform: none;
  }
  /*work member slider end*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /*header start*/
  .custom_dropdown {
    top: 0px !important;
    left: 60px !important;
  }
  /*header end*/
  /*about us section start*/
  .about_us {
    text-align: center;
  }
  .aboutus_text {
    margin-top: 40px;
  }
  .about_us_btn {
    margin-top: 15px;
  }
  /*about us section end*/
  /*pricing section start*/
  .price_title {
    width: 32%;
  }
  /*pricing section end*/
  /*work member slider start*/
  .member_bio {
    text-align: center;
  }
  .pin_icon {
    left: 190px;
  }
  .member_img {
    width: 50% !important;
    padding-bottom: 10px;
  }
  .wbp, .wbn {
    padding: 10px 0;
    top: 0;
}
  .wbp span, .wbn span {
    transform: none;
  }
  /*work member slider end*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*header start*/
  .custom_dropdown {
    top: 0px !important;
    left: 60px !important;
  }
  /*header end*/
  /*feature section start*/
  .features_text {
    margin: 15px 0 20px;
  }
  /*feature section end*/
  /*feature section start*/
  .common_title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .features_icon i {
    font-size: 55px;
  }
  /*feature section start*/
  /*about us section start*/
  .about_us {
    text-align: center;
  }
  .aboutus_text {
    margin-top: 40px;
  }
  .about_us_btn {
    margin-top: 20px;
  }
  /*about us section end*/
  /*work member slider start*/
  .member_bio {
    text-align: center;
  }
  .pin_icon {
    left: 190px;
  }
  .member_img {
    width: 50% !important;
    padding-bottom: 10px;
  }
  /*work member slider end*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /*feature section start*/
  .common_title {
    font-size: 28px;
    margin-bottom: 22px;
  }
  /*feature section start*/
  /*about us section start*/
  .about_us_img {
    width: 445px;
  }
  .aboutus_text {
    font-size: 16px;
  }
  .about_us_btn {
    margin-top: 15px;
  }
  /*about us section end*/
  /*why choose section start*/
  .single_content h2 {
    margin-left: 0px;
  }
  /*why choose section end*/
  /*pricing section start*/
  .price_title {
    width: 32%;
  }
  /*pricing section end*/
}

/* Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /*feature section start*/
  .common_title {
    margin-bottom: 28px;
  }
  /*feature section start*/
  /*about us section start*/
  .about_us_img {
    margin-left: 10px;
  }
  /*about us section end*/
  /*pricing section start*/
  .price_btn {
    margin: 15px 0 12px 40px;
    padding: 8px 25px;
  }
  /*pricing section end*/
}

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
  /*slider start*/
  .slider_body {
    margin: 165px 0 175px;
  }
  .slider_title {
    font-size: 60px;
  }
  /*slider end*/
  /*feature section start*/
  .features_body {
    margin-top: 100px;
    padding: 10px 30px;
  }
  .features_text {
    margin: 15px 0 30px;
  }
  /*feature section end*/
  /*about us section start*/
  .spacing {
    margin: 90px 0 100px;
  }
  .about_us_img {
    width: 480px;
    margin-left: 10px;
  }
  /*about us section end*/
  /*pricing section start*/
  .price_btn {
    margin: 15px 0 12px 50px;
    padding: 8px 25px;
  }
  /*pricing section end*/
}
